PORT = 3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET = 
STRIPE_SUCCESS_URL = http://localhost:3000/payments/success
STRIPE_CANCEL_URL = http://localhost:3000/payments/cancel

# https://dashboard.stripe.com/test/webhooks/we_1PMvnRDX6CS4d6BvpeFC2i2E
STRIPE_ENDPOINT_SECRET =

NATS_SERVERS = nats://localhost:4222